@import './common.scss';
@import'./create-event.scss';
@import './header.scss';
@import './calendar.scss';
@import './variable.scss';
@import './event.scss';
* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif
}